<div class="footer">
  <div class="row">
    <div class="column">
      <%= image_tag "pic1.jpg" %>
    </div>
    <div class="column">
      <%= image_tag "pic2.jpg" %>
    </div>
    <div class="column">
      <%= image_tag "pic4.jpg" %>
    </div>
    <div class="column">
      <%= image_tag "pic1.jpg" %>
    </div>
    <div class="column">
      <%= image_tag "pic2.jpg" %>
    </div>
    <div class="column">
      <%= image_tag "pic4.jpg" %>
    </div>
  </div>
</div>
