<div class="footer">
  <div class="row">
    <div class="column">
      <%= link_to(image_tag("pic1.jpg"), 'https://www.instagram.com/p/Bq_SJ2yAGqy') %>
    </div>
    <div class="column">
      <%= link_to(image_tag("pic2.jpg"), 'https://www.instagram.com/p/Bf3zTMcFVpT') %>
    </div>
    <div class="column">
      <%= link_to(image_tag("pic4.jpg"), 'https://www.instagram.com/p/Bel_yoGlZQL') %>
    </div>
    <div class="column">
      <%= link_to(image_tag("pic1.jpg"), 'https://www.instagram.com/p/BeBs7tNlTD5') %>
    </div>
    <div class="column">
      <%= link_to(image_tag("pic2.jpg"), 'https://www.instagram.com/p/BUYMWuiF4Hj') %>
    </div>
    <div class="column">
      <%= link_to(image_tag("pic4.jpg"), 'https://www.instagram.com/p/BQRIKEejXbg/') %>
    </div>
  </div>
</div>
