<div class="footer">
  <div class="footer-pics">
    <div class="row">
      <div class="column">
        <%= link_to(image_tag("pic1.jpg"), 'https://www.instagram.com/p/Bq_SJ2yAGqy') %>
      </div>
      <div class="column">
        <%= link_to(image_tag("pic2.jpg"), 'https://www.instagram.com/p/Bf3zTMcFVpT') %>
      </div>
      <div class="column">
        <%= link_to(image_tag("pic3.jpg"), 'https://www.instagram.com/p/Bel_yoGlZQL') %>
      </div>
      <div class="column">
        <%= link_to(image_tag("pic4.jpg"), 'https://www.instagram.com/p/BeBs7tNlTD5') %>
      </div>
      <div class="column">
        <%= link_to(image_tag("pic5.jpg"), 'https://www.instagram.com/p/BUYMWuiF4Hj') %>
      </div>
      <div class="column">
        <%= link_to(image_tag("pic6.jpg"), 'https://www.instagram.com/p/BQRIKEejXbg/') %>
      </div>
    </div>
  </div>
  <div class="footer-pics">
    <div class="row">
      <div class="column-links">
      <%= link_to '', 'https://www.instagram.com/laurianecoutinhofotografia/?igshid=fnz7w2rw5umq', class: "fab fa-instagram" %>
      <%= link_to '', root_path, class: "fab fa-facebook-square" %>
      </div>
    </div>
  </div>
</div>
